<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>494092950292-6nl3tgnqeibnidt1iah14df0lijn58gg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.494092950292-6nl3tgnqeibnidt1iah14df0lijn58gg</string>
	<key>API_KEY</key>
	<string>AIzaSyDvH555QjYUot4H__TIsKcpvnTwYMDMsFU</string>
	<key>GCM_SENDER_ID</key>
	<string>494092950292</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.kidlogameApp</string>
	<key>PROJECT_ID</key>
	<string>kidlogame-2bb99</string>
	<key>STORAGE_BUCKET</key>
	<string>kidlogame-2bb99.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:494092950292:ios:8bbd93c7da02e819d44001</string>
</dict>
</plist>